# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Project volumes (large data) - игнорируем все данные volumes
volumes/

# Test data
test_data/
TZ_Multimodal_RAG_v2.2.md
